################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Saved
/Content/MobileStarterContent
/Binaries/Win64
/Intermediate
/SGame.VC.VC.opendb
/SGame.VC.db
/.vs/SGame/v14
